@model Northwind.EntityModels.Order
@using Northwind.EntityModels;
<div class="card border-dark mb-3" style="max-width: 25rem">
    <div class="card-header">Order ID: @Model?.OrderId</div>
    <div class="card-body text-dark">
        <h5>Shipper: @Model?.ShipVia</h5>
        <p>Delivery address: @Model?.ShipAddress</p>
        <p>Order date: @Model?.OrderDate</p>
    </div>
</div>